apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  app: reporting
generators:
  - generators
transformers:
  - patches
  - secrets
  - configs
  - transformers
  - ../qliksense/generators/secrets
  - ../qliksense/generators/configs
  - ../../../../.operator/patches
  - ../../../../configuration/patches
  - ../../transformers/base
  - ../../transformers/msgprefix
images:
  - name: qlik-docker-qsefe.bintray.io/reporting-web-renderer
    newName: $(IMAGE_REGISTRY)/reporting-web-renderer
  - name: qlik-docker-qsefe.bintray.io/reporting-composer
    newName: $(IMAGE_REGISTRY)/reporting-composer
  - name: qlik-docker-qsefe.bintray.io/reporting-service
    newName: $(IMAGE_REGISTRY)/reporting-service
  - name: qlik-docker-qsefe.bintray.io/reporting-proxy
    newName: $(IMAGE_REGISTRY)/reporting-proxy

