apiVersion: qlik.com/v1
kind: SelectivePatch
metadata:
  name: edge-auth
enabled: true
patches:
  - path: deploymentJSON.yaml
    target:
      kind: Deployment
      name: edge-auth
  - path: deployment.yaml
    target:
      kind: Deployment
      name: edge-auth

