apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
generators:
  - generators
transformers:
  - patches
  - secrets
  - configs
  - transformers
  - ../qliksense/generators/configs
  - ../qliksense/generators/secrets
  - ../../../../.operator/patches
  - ../../../../configuration/patches
  - ../../transformers/base
  - ../../transformers/msgprefix
images:
  - name: qliktech-docker.jfrog.io/dcaas
    newName: $(IMAGE_REGISTRY)/dcaas
  - name: qlik-docker-qsefe.bintray.io/redis
    newName: $(IMAGE_REGISTRY)/redis