apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb
spec:
  template:
    spec:
      containers:
      - name: main
        env:   
        # deleting MONGODB_EXTRA_FLAGS due to it getting a 'null' value 
        - $patch: delete
          name: MONGODB_EXTRA_FLAGS