apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  app: policy-decisions
generators:
  - generators
transformers:
  - patches
  - secrets
  - configs
  - transformers
  - ../qliksense/generators/secrets
  - ../qliksense/generators/configs
  - ../../../../.operator/patches
  - ../../../../configuration/patches
images:
  - name: qlik-docker-qsefe.bintray.io/policy-decisions-service
    newName: $(IMAGE_REGISTRY)/policy-decisions-service
