apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  app: geo-operations
resources:
- ../../../../../generators/geo-operations
- ../../../secrets
- ../../../configs
transformers:
- ../secrets
- ../configs
- values.yaml
patches:
- target:
    kind: SuperSecret
  patch: |-
    - op: replace
      path: /metadata/name
      value: geo-operations-secrets
- target:
    kind: SuperConfigMap
  patch: |-
    - op: replace
      path: /metadata/name
      value: geo-operations-configs

