apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  app: nl-broker
generators:
  - generators
transformers:
  - patches
  - configs
  - transformers
  - ../qliksense/generators/secrets 
  - ../qliksense/generators/configs
  - ../../../../.operator/patches
  - ../../../../configuration/patches
  - ../../transformers/base
  - ../../transformers/msgprefix
images:
- name: qlik-docker-qsefe.bintray.io/nl-broker
  newName: $(IMAGE_REGISTRY)/nl-broker