apiVersion: qlik.com/v1
kind: SelectivePatch
metadata:
  name: temporary-contents-component-configs
enabled: true
patches:
- target:
    kind: SuperConfigMap
  patch: |-
    apiVersion: qlik.com/v1
    kind: SuperConfigMap
    metadata:
      name: temporary-contents-configs
    data:
      featureFlagsUri: "http://$(PREFIX)-temporary-contents-feature-flags:8080"
      keysUri: "http://$(PREFIX)-temporary-contents-keys:8080/v1/keys/qlik.api.internal"
      edgeAuthUri: "http://$(PREFIX)-temporary-contents-edge-auth:8080/v1"
      policyDecisionsUri: "http://$(PREFIX)-temporary-contents-policy-decisions:5080"
      encryptionUri: "http://$(PREFIX)-temporary-contents-encryption:8080"
  