apiVersion: qlik.com/v1
kind: SelectivePatch
metadata:
  name: insights-component-secrets
enabled: true
patches:
- target:
    kind: Secret
  patch: |-
    - op: add
      path: /stringData
      value:
        mongodbUri: mongodb://$(PREFIX)-mongodb:27017/insights
