apiVersion: qlik.com/v1
kind: HelmValues
metadata:
  name: users
releaseNamespace: $(NAMESPACE)
values:
  mongodb:
    enabled: false
    ssl: false
    sslValidate: false
    checkServerIdentity: false
  nats:
    enabled: true
