apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- selectivepatch.yaml
- ../../../../../.operator/configs
- ../../../../../configuration/configs
- ../../../configs
patches:
  - target:
      kind: SuperConfigMap
    patch: |-
      - op: replace
        path: /metadata/name
        value: data-connector-nfs-configs
