apiVersion: qlik.com/v1
kind: SelectivePatch
metadata:
  name: edgeAuthUri
  labels:
    key: edgeAuthUri
enabled: true
patches:
- target:
    kind: Deployment
  patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: component
    spec:
      template:
        spec:
          containers:
          - name: main
            env:
            - name: EDGE_AUTH_URI
              valueFrom:
                configMapKeyRef:
                  key: edgeAuthUri
                  name: configs
- target:
    kind: CronJob
  patch: |-
    apiVersion: batch/v1beta1
    kind: CronJob
    metadata:
      name: component
    spec:
      jobTemplate:
        spec:
          template:
            spec:
              containers:
              - name: main
                env:
                - name: EDGE_AUTH_URI
                  valueFrom:
                    configMapKeyRef:
                      key: edgeAuthUri
                      name: configs
- target:
    kind: ConfigMap
    name: .*-configs
  patch: |-
    apiVersion: v1
    kind: ConfigMap 
    metadata:
      name: component-configs
    data:
      edgeAuthUri: null