apiVersion: apps/v1
kind: Deployment
metadata:
  name: reporting
spec:
  template:
    metadata:
      labels:
        reporting-nats-client: null
    spec:
    # added 'imagePullPolicy: null' to fix a bug in the reporting chart.
    # after this gets fixed in elastic-charts, we have to remove the line below.
    # an issue has been created in qliksense-qlikconfig as a reminder
      imagePullPolicy: null
      volumes:
      - name: reporting-secret
        secret:
          secretName: reporting-secrets
          items:
            - key: tokenAuthPrivateKey
              path: jwtPrivateKey
      containers:
      - name: main
        imagePullPolicy: IfNotPresent
        env:
        - name: KEYS_URI
          valueFrom:
            configMapKeyRef:
              key: keysUri
              name: reporting-configs
        #  TEMP_CONTENTS_URL -> TEMPORARY_CONTENTS_URI
        - $patch: delete
          name: TEMP_CONTENTS_URL
        - name: TEMPORARY_CONTENTS_URI
          valueFrom:
            configMapKeyRef:
              key: temporaryContentsUri
              name: reporting-configs
        - name: TEMP_CONTENTS_URL
          value: $(TEMPORARY_CONTENTS_URI)
        #  FEATURE_FLAGS_URI -> FEATURE_FLAGS_URI
        - $patch: delete
          name: FEATURE_FLAGS_URL
        - name: FEATURE_FLAGS_URI
          valueFrom:
            configMapKeyRef:
              key: featureFlagsUri
              name: reporting-configs
        - name: FEATURE_FLAGS_URL
          value: $(FEATURE_FLAGS_URI)
        #  REDIS_URL -> REDIS_URI
        - $patch: delete
          name: REDIS_URL
        - name: REDIS_URI
          valueFrom:
            configMapKeyRef:
              key: redisUri
              name: reporting-configs
        - name: REDIS_URL
          value: $(REDIS_URI)
        #  AUTH_JWKS_URI -> KEYS_URI
        - $patch: delete
          name: AUTH_JWKS_URI
        - name: KEYS_URI
          valueFrom:
            configMapKeyRef:
              key: keysUri
              name: reporting-configs
        - name: AUTH_JWKS_URI
          value: $(KEYS_URI)/keys/qlik.api.internal
        #  SESSION_SERVICE_URL -> QIX_SESSIONS_URL
        - $patch: delete
          name: SESSION_SERVICE_URL
        - name: QIX_SESSIONS_URI
          valueFrom:
            configMapKeyRef:
              key: qixSessionsUri
              name: reporting-configs
        - name: SESSION_SERVICE_URL
          value: $(QIX_SESSIONS_URI)
        - $patch: delete
          name: KEY_ID
        - name: TOKEN_AUTH_PRIVATE_KEY_ID
          valueFrom:
            secretKeyRef:
              key: tokenAuthPrivateKeyId
              name: reporting-secrets
        - name: KEY_ID
          value: $(TOKEN_AUTH_PRIVATE_KEY_ID)
        - name: TOKEN_AUTH_URL
          value: $(TOKEN_AUTH_URI)/v1/internal-tokens
        - $patch: delete
          name: REDIS_AUTH_TOKEN
        - name: REDIS_AUTH_TOKEN
          value: $(REDIS_PASSWORD)
