apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
generators:
  - generators
transformers:
  - patches
  - secrets
  - configs
  - transformers
  - ../../../base/resources/qliksense/generators/configs
  - ../../../base/resources/qliksense/generators/secrets
  - ../../../../.operator/patches
  - ../../../../configuration/patches
  - ../../../base/transformers/base
images:
  - name: qlik-docker-qsefe.bintray.io/redis
    newName: $(IMAGE_REGISTRY)/redis
